
 <div class="container">
    <input type="text" [(ngModel)]="title" />
    {{ title }}

    <input type="text" [(ngModel)]="power">
    {{ power | exponential}}

    <div *ngIf="title == 'Kevin'">
      esto es un div
    </div>

    <div [ngSwitch]="title">
      <p *ngSwitchCase="'kevin'">hola eres {{ title }}</p>
      <p *ngSwitchCase="'tamara'">hola eres {{ title }}</p>
      <p *ngSwitchCase="'mayiya'">hola eres {{ title }}</p>
      <p *ngSwitchCase="'robin'">hola eres {{ title }}</p>
      <p *ngSwitchDefault>no encontrado coincidencia para {{ title }}</p>
    </div>

    <button (click)="addItem()">Add name</button>

    <ul>
      <li *ngIf="names.length === 0">la lista esta vacia</li>
      <li *ngFor="let name of names; index as i">
        {{ name }} {{ i }}
        <button (click)="deleteItem(i)">delete</button>
      </li>
    </ul>
  </div>
